img {
    width: 500px;
  }
  body {
    text-align: center;
  }
  body {
    text-align: center;
    font-family: 'Indie Flower';
    background: lightskyblue;
    color: lightcoral;
  }
  p {
    font-size: 2em;
  }